/* for debugging */
/* * {
    outline: 2px solid orange;
    position: relative;
}

*::after {
    content: attr(class) " " attr(id);
    position: absolute;
    top: 0;
    left: 0;
    font: 12px monospace;
    color: black;
    background: white;
} */

/* settings */
:root{
    
    --main-bg-color: white;
    --main-text-color: hsl(206, 85%, 27%);
    --main-title-font: "Cormorant Garamond",  "cormorant", garamond, serif;


    --menu-bg-color: var(--main-text-color);
    --menu-text-color: var(--main-bg-color);

    --about-margin: 200px;
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    margin: 0;
    padding: 0;
}

/* for links */
a {
    color: white;
    font-weight: normal;
}

#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
}

#menubar img {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#logo-image {
    max-height: 7vh;
    max-width: auto;
    border-radius: 0px;
}

#link-icons-section {
    display: flex;
    align-content: space-evenly;
    gap: 40px;

    padding-left: 20px;
    position: relative;
}

.link-icons {
    min-width: 50px;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: normal;
    color: var(--menu-text-color);
}

#link-icons-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-bg-color);
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
}

#link-icons-dropdown a {
    padding: 10px;
    color: var(--menu-text-color);
    text-decoration: none;
    display: block;
}

#link-icons-dropdown a:hover {
    background-color: var(--hover-bg-color); /* Change color on hover */
}

#dropdown-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    #link-icons-section {
        display: none;
        /* flex-direction: column;
        width: 100%;
        background-color: var(--menu-bg-color);
        padding-top: 10px;
        padding-bottom: 10px; */
    }

    #dropdown-btn {
        display: block;
    }

    #menubar {
        justify-content: space-between;
    }

    #link-icons-section.active {
        display: flex;
    }
}



#title-section {
    position: relative;
    height: 60vh;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
}

#bg-image {
    background-image: url('/assets/images/title-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-size: 100%;

    position: absolute;
    width: 100vw;
    height: 60vh;
    z-index: -1;
}

#title-text-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    /* padding-left: 40px; */
}

#title-text {
    color: var(--main-bg-color);

    font-family: var(--main-title-font);
    font-size: 70px;

    position: relative;
    
}

#theme-text {
    color: var(--main-bg-color);

    font-weight: normal;
    font-size: 24px;
    font-style: italic;

    position: relative;
}


#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--menu-bg-color);
}

#about-biphmun {
    /* display: flex; */
    margin-top: 10px;
    margin-left: var(--about-margin);
    margin-right: var(--about-margin);
}

#about-biphmun-text {
    font-weight: bold;
    font-size: 50px;
    font-family: "Cormorand Garamond", "Times New Roman";
    color: var(--menu-text-color);
}

#about-texts {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: var(--about-margin);
    margin-right: var(--about-margin);

    max-width: 1300px;

    color: var(--menu-text-color);
    
}

.about-paragraph {
    /* margin: 20px; */
    font-weight: normal;
    font-size: 24px;
    font-family: "Times New Roman";
}

#group-photo-outer-div {
    /* display: flex; */
    position: relative;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#group-photo {
    background-image: url('/assets/images/group-photo.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    /* background-size: 100%; */

    /* position: relative; */
    position: absolute;

    width: 100%;
    height: 120%;
    
    top: -70%;
    left: 0;
    


    z-index: -1;
    will-change: transform;
}

#info {
    display: flex;
    max-height: 10wh;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

#credits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 20px;
}

#contact-and-address {
    flex: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
