
body{
    background-color: var(--main-white);
    color: var(--main-white);

    margin: 0;
    padding: 0;
}

/* for links */
a {
    color: white;
    font-weight: normal;
}


#title-section {
    position: relative;
    height: 70vh;

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    background-image: url('/assets/images/debate-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-size: 100%; */

    width: 100%;
    z-index: -1;

    padding-bottom: 30px;
}

#title-text-content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    /* padding-left: 40px; */
}

#title-text {
    color: var(--main-white);

    font-family: var(--main-title-font);
    font-size: var(--title-font-size);

    position: relative;
    margin-top: 10vh;
    
}

#theme-text {
    color: var(--main-white);

    font-weight: normal;
    font-size: 24px;
    font-style: italic;

    position: relative;
}


#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-blue);
}

#about-biphmun {
    /* display: flex; */
    margin-top: 10px;
    margin-left: var(--about-margin);
    margin-right: var(--about-margin);
}

#about-biphmun-text {
    font-weight: bold;
    font-size: 50px;
    font-family: "Cormorand Garamond", "Times New Roman";
    color: var(--main-white);
}

#about-texts {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: var(--about-margin);
    margin-right: var(--about-margin);

    max-width: 1300px;

    color: var(--main-white);
    
}

.about-paragraph {
    /* margin: 20px; */
    font-weight: normal;
    font-size: 24px;
    font-family: "Times New Roman";
}

#group-photo-outer-div {
    /* display: flex; */
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#group-photo {
    background-image: url('/assets/images/group-photo.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    /* background-size: 100%; */

    /* position: relative; */
    position: absolute;

    width: 100%;
    height: 120%;
    
    top: -70%;
    left: 0;
    


    z-index: -1;
    will-change: transform;
}