/* for debugging */
div {
    border: 2px solid orange;
}

:root{
    /* Maybe Invert the Background and Text color later */
    --main-bg-color: white;
    --main-text-color: hsl(206, 85%, 27%);
    --main-title-font: "Cormorant Garamond",  "cormorant", garamond, serif;


    --menu-bg-color: var(--main-text-color);
    --menu-text-color: var(--main-bg-color);
}

body{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-weight: normal;
}

#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
    padding-left: 40px;
    padding-right: 30px;
    position: relative;
}

#menubar img {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#logo-image {
    max-height: 60px;
    max-width: auto;
    border-radius: 0px;
}

#link-icons-section {
    display: flex;
    align-content: space-evenly;
    gap: 40px;

    padding-left: 20px;
    position: relative;
}

.link-icons {
    min-width: 50px;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: normal;
    color: var(--menu-text-color);
}

#link-icons-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-bg-color);
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
}

#link-icons-dropdown a {
    padding: 10px;
    color: var(--menu-text-color);
    text-decoration: none;
    display: block;
}

#link-icons-dropdown a:hover {
    background-color: var(--hover-bg-color); /* Change color on hover */
}

#dropdown-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    #link-icons-section {
        display: none;
        /* flex-direction: column;
        width: 100%;
        background-color: var(--menu-bg-color);
        padding-top: 10px;
        padding-bottom: 10px; */
    }

    #dropdown-btn {
        display: block;
    }

    #menubar {
        justify-content: space-between;
    }

    #link-icons-section.active {
        display: flex;
    }
}



#title-section {
    position: relative;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* for debugging */
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

#bg-image {
    background-image: url('/assets/images/title-bg.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-size: auto 60%;

    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

#title-text-content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

#title-text {
    color: var(--main-bg-color);

    font-family: var(--main-title-font);
    font-size: 50px;

    position: relative;
    
}

#theme-text {
    color: var(--main-bg-color);

    font-weight: normal;
    font-size: 20px;
    font-style: italic;

    position: relative;
}