#committees-title-section {
    background-image: url('/assets/images/un-bg-darker.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50vh;
}

#committees-title-text-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.committee-title {
    width: 60vw;
    font-size: 85px;
    font-family: var(--main-title-font);
    font-weight: var(--title-font-size);
    text-shadow: 3px 3px 10px black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#theme-text {
    font-size: 35px;
}

.committee-section {
    height: 85vh;
    display: flex;
}

.subsection {
    width: 50%;
    height: 100%;
}