#title-section {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-white);

    background-image: url('/assets/images/title-bg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    z-index: -1;
    padding-bottom: 30px;
}

#title-text {
    margin-top: 60px;
    min-width: 65vw;
    margin-left: 50px;
    margin-right: 50px;
}

#title {
    display: flex;
    flex-direction: column;
    margin-top: 60px;

    margin-top: 60px;
    color: var(--main-white);
    font-size: var(--title-font-size);
    
    font-family: var(--main-title-font);
}


#application-section {
    /* height: 50vh; */
    background-color: var(--main-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#application {
    width: 60vw;
}

#conf-info-title {
    font-size: 52px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

#conf-info {
    /* margin-left: 5vw;
    margin-right: 5vw; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;

    /* for lists
    list-style-type: disc;
    padding-left: 10px; */
}


.specific-info {
    display: flex;
    align-items: center;
    min-width: 40vw;
    gap: 1vw;

    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.info-category-name {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

.info-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#conf-app-links-section {
    display: flex;
    flex-direction: column;
    margin-left: clamp(10px, 3vw, 20px);
    margin-right: clamp(10px, 3vw, 20px);

    /* min-height: 20vh; */
    overflow-y: auto;
}


#conf-app-title {
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;


}

#links-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;

    min-height: 4vh;
    border-radius: 10px;
    /* background-color: #d8d8bb; */
    background-color: var(--main-white);
    color: black;
    will-change: transform;
    transition: transform 0.3s ease;
}

.link-section:hover {
  cursor: pointer;
  transform: translateY(-5px);
}