body, html {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    color: var(--main-white);

    font-family: 'Times New Roman', Times, serif;

}

#accom-title-section {
    min-width: 60vw;
    height: 85vh;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;

    will-change: transform;
}

#hotel-photo-outer-div {
    /* display: flex; */
    position: relative;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#hotel-photo {
    background-image: url('/assets/images/hotel-bg.avif');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center center;
    background-size: cover;
    /* background-size: 100%; */

    /* position: relative; */
    position: absolute;

    width: 100%;
    height: 140%;
    
    top: -7%;
    left: 0;

    z-index: -1;
    will-change: transform;
}

#accom-title-text {
    width: 60vw;
    font-family: var(--main-text-font);
    color: var(--main-white);
    position: absolute;
    
    font-size: 60px;
}

#accom-info-section {

    margin-top: -450px;

    position: relative;

    height: 50vh;
    width: 100vw;

    background-color: var(--main-beige);

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#choices-title-text {
    font-size: 50px;
    color: var(--main-blue);
}

#choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: space-between;
    gap: 6vw;
}

.choice-title {
    margin-top: 25px;

    background-color: var(--main-white);
    color: black;
    font-weight: bold;
    font-family: 'amatic sc', cursive;
    /* border-radius: 5px; */
    font-size: 35px;

    text-align: center; /* for small viewport width */
    padding-left: 30px;
    padding-right: 50px; /* for bookmark */

    clip-path: polygon(
        0   0,            /* top-left */
        calc(100% - 16px) 0,  /* move in 16px from top-right */
        100% 50%,        /* tip of the bookmark */
        calc(100% - 16px) 100%, /* back in 16px from bottom */
        0   100%         /* bottom-left */
    );
}


.choice-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    min-width: min(30vw, 100px);

    min-height: 50vh;
    min-width: 22vw;
    gap: 2vw;

    border-radius: 25px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 100%;
    width: 100%;
}



#le-meridien-hotel-container {
    background-image: url('/assets/images/le-meridien.avif');

}

#plh-hotels-container {
    background-image: url('/assets/images/plh-apartments.avif');
}

#others-container {
    background-image: url('/assets/images/other-hotels.avif');
}