/* for debugging */
* {
    outline: 1px solid orange;
    position: relative;
}

*::after {
    content: attr(class) " " attr(id);
    position: absolute;
    top: 0;
    left: 0;
    font: 10px monospace;
    color: black;
    background: white;
}


/* settings */
:root{
    
    --main-white: white;
    --main-blue: hsl(206, 85%, 27%);
    --main-title-font: "Cormorant Garamond",  "cormorant", garamond, serif;

    --main-text-font: 'Times New Roman', Times, serif;


    --menu-bg-color: var(--main-blue);
    --menu-text-color: var(--main-white);

    --about-margin: 200px;

    --title-font-size: 70px;

    --main-beige: #ede7d3;
    --darker-beige: #c2c29e;
    --main-black: black;
    --main-dark-gray: #434343;
    --menubar-height: 
}

/* Menu Bar */

#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

#menubar img {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#logo-image {
    max-height: 7vh;
    max-width: auto;
    border-radius: 0px;
}

#link-icons-section {
    display: flex;
    align-content: space-evenly;
    gap: 40px;

    padding-left: 20px;
    position: relative;
}

.link-icons {
    min-width: 50px;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: normal;
    color: var(--menu-text-color);
}

#link-icons-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--menu-bg-color);
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
}

#link-icons-dropdown a {
    padding: 10px;
    color: var(--menu-text-color);
    text-decoration: none;
    display: block;
}

#link-icons-dropdown a:hover {
    background-color: var(--hover-bg-color); /* Change color on hover */
}

#dropdown-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    #link-icons-section {
        display: none;
        /* flex-direction: column;
        width: 100%;
        background-color: var(--menu-bg-color);
        padding-top: 10px;
        padding-bottom: 10px; */
    }

    #dropdown-btn {
        display: block;
    }

    #menubar {
        justify-content: space-between;
    }

    #link-icons-section.active {
        display: flex;
    }
}

/* is it necessary? might cause bugs idk*/
/* 
#main {
  min-height: 90vh;
  padding-bottom: 20px;
} */

#info {
    display: flex;
    max-height: 10wh;
    justify-content: space-evenly;
    align-items: center;

    position: relative;

    background-color: var(--main-blue);
    color: var(--main-white);
}

#credits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 20px;
}

#contact-and-address {
    flex: 0.7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
