#about-top-section-with-photos {
    background-image: url('/assets/images/un-bg-app.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    
    width: 100%;
    height: auto;
    padding-top: 8vh;
    padding-bottom: 8vh;
    z-index: -1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#about-top-text-section {
    width: 70%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    padding: 60px, 100px, 60px, 100px;

    background-color: var(--main-white);
}

.about-text {
    font-family: var(--main-text-font);
    color: black;
}

#about-top-text-header {
    font-family: var(--sub-title-font);
    font-size: 5vh;
    font-weight: bold;
    margin-top: 9vh;
}

#about-top-text-main {
    margin-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 19px;
}

#timeline-section {
    height: 80vh;
    background-color: hsl(42, 67%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timeline-title {
    color: var(--main-black);
    font-weight: bold;
    font-size: 4vh;
    font-family: var(--sub-title-font);
    margin-bottom: 3%;
}

#timeline-container {
  position: relative;
  background-color: white;
  width: 85%;
  height: 65%;
  display: flex;
  padding: 10px 40px 10px 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.timeline-event {
  position: relative;
  color: black;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 15%;
  flex-shrink: 0;
  padding: 0 15px;
}

.timeline-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--main-blue);
}

#timeline-line {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 1.5px;
    background-color: black;
    transform: translateY(-50%);
    z-index: 1;
}

.timeline-circle {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    transform: translateY(-50%);
    z-index: 2;
}

.timeline-event.odd-t {
  margin-top: 15%; /* Adjust as needed */
}

.timeline-event.even-t {
  margin-bottom: 15%; /* Adjust as needed */
}